<app-card>
  <div title class="header">
    Buchungen
    <div *ngIf="hasButtons|async" class="buttons">
      <button mat-flat-button color="primary" (click)="authBuchungen()">
        <mat-icon>unarchive</mat-icon>Buchungen freigeben
      </button>
      <button mat-flat-button color="primary" (click)="addBuchung()">
        <mat-icon>add_circle</mat-icon>Buchung anlegen
      </button>
    </div>
  </div>
  <app-buchungen-table
    *ngIf="buchungen"
    [buchungen]="buchungen"
  ></app-buchungen-table>
</app-card>
