:host {
  flex-grow: 1;
  display: flex;

  * {
    flex-grow: 1;
  }
  font-size: 1.5em;
}

mat-tab-group {
  .mat-tab-body-wrapper {
    display:flex;
    flex-grow: 1;
  }
}

#warning {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  .title {
    font-size: 1.2em;
    padding: 1em 0;
    line-height: 1.3em
  }
}
