<app-card *ngIf="hasAccess; else warning">
  <div title class="header"><div i18n>Einnahmenüberschussrechnung</div>
  <div *ngIf="canCreate | async" class="buttons">
    <button mat-flat-button color="primary" (click)="addEUeR()">
      <mat-icon>add_circle</mat-icon><div i18n>EÜR anlegen</div>
    </button>
  </div>
</div>
  <app-euer-table *ngIf="euers|async; let euer" [euers]="euer" (updateAuth)="updateAuth()"></app-euer-table>
</app-card>
<ng-template #warning>
  <app-warn>
    <div id="warning">
      <div i18n class="title">Sie haben keine Berechtigung für diese Einkommensüberschussrechnungen.</div>
      <div i18n class="text">Sprechen Sie mit dem/der zuständigen Steuerberater/in.</div>
    </div>
  </app-warn>
</ng-template>

