<table aria-describedby="Buchungsübersicht" mat-table [dataSource]="buchungen" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th i18n scope="col" mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> <a [href]="element.resourceUrl" target="_blank">{{element.id}}</a> </td>
  </ng-container>

  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th i18n scope="col" mat-header-cell *matHeaderCellDef> Beschreibung </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th i18n scope="col" mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th i18n scope="col" mat-header-cell *matHeaderCellDef> Betrag in Euro </th>
    <td mat-cell *matCellDef="let element"> {{element.amount |number:".2-2"}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th i18n scope="col" mat-header-cell *matHeaderCellDef> Art </th>
    <td mat-cell *matCellDef="let element"> 
      <div i18n *ngIf="element.type == 'Einnahme'; else elseBlock">Einnahme</div>
      <ng-template i18n #elseBlock>Ausgabe</ng-template>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

