@import "colors";

:host {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  * {
    display: flex;
    flex-grow: 1;
  }
}

.card {
  background-color: white;
  max-width: 80vw;
  // height: 50vh;
  margin: 50px 0;
  border-radius: 10px;
  flex-direction: column;
  padding: 43px;

  .title {
    font-size: 1.2em;
    padding-bottom: 43px;
    flex-grow: 0;
    color: $dark-grey;
  }
}
