@import "colors";

table {
  width: 100%;
  text-align: end;
  th.mat-header-cell  {
    text-align: end;
  }

  mat-icon {
    cursor: pointer;
    color: $dark-grey;
  }

  .mat-column-action mat-icon{
    color: $datev-green;
  }
}
