/* You can add global styles to this file, and also import other style files */
@import "colors";


html,
body {
  height: 100%;
  cursor: default;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $dark-grey;
}

app-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}


mat-tab-group {
  .mat-tab-body-wrapper, .mat-tab-body-content {
    display:flex;
    flex-grow: 1;
  }

  .mat-tab-label {
    font-size: 15px;
    &.mat-tab-label-active{
      color: $datev-green;
    }
  }

  mat-tab-body {
    background-color: $light-bg;
  }

}

mat-dialog-container.mat-dialog-container {
  padding: 3em;

  .mat-dialog-title {
    margin-bottom: 50px;
    color: $dark-grey;
  }

  .mat-dialog-actions {
    justify-content: end;
  }
}

// Button with icon
.buttons {
  display: flex;
  button {
    margin-left: 22px;

    mat-icon {
      margin-right: 20px;
    }
  }
}
